@import url('https://fonts.googleapis.com/css2?family?=Poppins:wght@@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins' , sans-serif;
}

/* global tags */
h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35, 35, 85);
}
span{
    font-size: .9rem;
    color: #757373;
}
h6{
    font-size: 1.1rem;
    color: rgb(24,24,49);
}

/* navigation */
nav{
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 8vw;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;

    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}
nav div{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 5px;

}

nav div span{
    color: #fdc93b;
    font-weight: 500;
    font-size: 20px;
}
.logo{
      color: rgb(21, 21, 100);
      font-size: 22px;

}
.menu-bar{
    display: none;
  
}

.nav-list{
    display: flex;
    list-style-type: none;
    gap: 1rem;


}

.nav-list li{
    padding: .2rem .3rem;
    cursor: pointer;
    
}


.nav-list li a{
    text-decoration: none;
    color:rgb(21, 21, 100);
    font-size: 16px;
    font-weight: 600;
    transition: all ease .3s;
  
}
.nav-list li:hover{
    background-color: gray;
}

.nav-list li:hover a{
    color: #fdc93b;

}
/* navbar media query */
@media (max-width:720px) {

    .nav-list{
        display: block;
        position: absolute;
        height: 60vh;
        width: 200px;
        background-color: gray;
        padding: 4px 10px;
        top:55px;
        right:0px;
        display: flex;
        flex-direction: column;
        transition: ease-in-out .5s;
    }
    .nav-list li{
        border-bottom: 1px solid lightgray;
        text-align: start;
        transition: ease-in-out .5s;
    }

    .nav-list-disable{
        right: -200px;
        transition: ease-in-out .5s;

    }
    .menu-bar{
        display:block ;
    }
    
}

/* Home */

.home-section{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("./images/bg-home-girl.jpg " );
    background-position: center;
    background-size: cover;
    object-fit: cover;
    height: calc(98vh - 40px);
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .6rem;

    color: white;

}

.home-section h2{
    /* color: rgba(0, 0, 0, 1); */
    font-size: 2rem;
    text-align: center;
    width: 70%;
    
    animation: shiftMotionDown ease 2s 1;

}
.home-section p{
    font-weight: 500;
    width: 50%;
    line-height: 20px;
    text-align: center;
    animation: shiftMotionUp ease 2s 1;
}
.home-section div{
    animation: buttonPopUp ease 4s 1;
}
.home-section div a{
    padding: .4rem .7rem ;
    border-radius: .2rem;
    border: none;
    color: inherit;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    transition: all ease 0.2s;

    

}
.home-section div a:first-child{
    animation: blink ease 1s infinite;

}
.home-section div a:first-child:hover{
    color: #fdc93b;
}
.home-section div a:last-child{
  font-weight: 600;

}
.home-section div a:last-child:hover{
    background-color: rgb(21, 21, 100);

}

.home-section div :first-child{
    background: rgb(21, 21, 100);
}
.home-section div :last-child{
    background: #fdc93b;
}

/* Features */

.feature-section{
    margin-top: 20px;
    margin: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.feature-section h1{
 text-align: center;
}
.feature-section p{
    text-align: center;
    font-size: 18px;
    font-weight: 400;

}

.features{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.features div{
    width: 33%;
    flex-basis: 300px;
    padding: 1.5rem 3rem;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);

    transition: ease .3s;

}
.features div:hover{
    transform: scale(1.04);
    box-shadow: 2px 2px 20px rgba(252, 201, 59, 0.3);
    transform: translateY(-20px);
    background-color: #fff;
}

.features div i{
    font-size: 25px;
    animation: blink ease 1s infinite;

}


/* Popularity */
.popular-section{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 10px;
}
.popular-section h1,p{
   text-align: center;
}

.courses{
    margin-top: 20px;
    margin:  0px 10px;
    max-width: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    
}


.courses div{
    margin-top: 20px;
    padding: 10px 10px;
    width: 33%;
    border-radius: 5px;
    flex-basis: 300px;
    background-color: white;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.3);
    transition: ease 0.3s;
}
.courses div:hover{
    transform: translate(-15px , -15px);
    box-shadow: 2px 2px 20px rgba(252, 201, 59, 0.3);
}

.courses div img{
    width: 100%;
    height: 150px;
    border-radius: 5px;
    overflow: hidden;
}
.courses div span{
    color: gray;
    font-size: 12px;
    font-weight: 400;
}

.ratings i{
    color: #fdc93b;
}
.no-of-ratings{
    color: gray;
    font-weight: 400;
    font-size: 16px;

}

/* Registration */
.registration-section{
    margin-top: 30px;
    display: flex;
    height: 100vh;
    padding: 10px 40px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('./images/reg.jpg');
    background-position: center;
    background-size: cover;
    color: white;


}

.right-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;

}

.right-div h1,p{
    align-items: center;
}

.left-div{
    display: flex;
    height: 60%;
    width: 50%;
    flex-direction: column;
    justify-content: center; 
    align-items: center;


}
.left-div .form h3{
    color: rgba(0, 0, 0, 0.8);
}

.form {
    background-color: #fff;
    height: 90%;
    display: flex;
    border-radius: 8px;

    flex-direction: column;
    gap: 20px;
    padding: 20px 40px;
}

.form input{
    padding: 10px 20px;
    border: 1.5px solid rgb(21, 21, 100);
    border-radius: 3px;
}
.form input:focus{
    border: 1.5px solid red;
}

.form button{
    width: 70%;
    background-color: #fdc93b;
    color: white;
    font-weight: 500;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-start;
    padding: 10px 10px;
    transition: ease 0.3s;
}

.form button:hover{
    background-color: rgb(21, 21, 100);

}


/* media query  */
@media (max-width:720px) {
    .registration-section{
        flex-direction:column ;
    }
    
    
}


/* Profiles */
.profile-section{
    display: flex;
    height: 100%;
    min-height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
   

}
.profile-section h1{
    text-align: center; 
}
.profile-section p{
    text-align: center;
}
.profile{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    

}

.profile div{
    background-color: aliceblue;
    height: 270px;
    width: 200px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 10px;
    transition: all ease 0.7s;
}

.profile div:hover{
    transform: translate(-10px , 10px);
    box-shadow: 2px 2px 10px #fdc93b;
}

.profile div:hover img{
    transform: translate(20px,-20px);
    box-shadow: 2px 2px 10px #fdc93b;
    border-radius: 30%;

}

.profile div span{
    text-align: center;
   
}



.profile div  img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    transition: all ease 0.7s;


}

.contacts {
    display: flex;
    gap: 10px;
    color: rgb(21, 21, 100);
    font-size: 16px;
}

.contacts .fa-brands{
    cursor: pointer;
    border: 2px solid rgb(21, 21, 100);
    padding: 3px ;
}
.contacts .fa-brands:hover{
    color: rgb(21, 21, 100);
    animation: none;

}

.contacts .fa-instagram{
    animation: colorChange2 ease 2s infinite ;
}
.contacts .fa-facebook{
    animation: colorChange1 ease 2s infinite ;
    
}
.contacts .fa-linkedin{
    animation:colorChange3 ease 2s infinite ;

}


/* Footer */

.footer-section{
    margin-top: 20px;
    display: flex;
    width: 100%;
    min-height: 50vh;
    height: 100%;
    background-color: rgb(21, 21, 100);
    flex-wrap: wrap;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    color: white;
}

.footer-section div{
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: start;

}

.footer-section div ul {
    color: gray;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 15px;
    color: #fff;

}

.footer-section div ul li {
    font-weight: 400;
    font-size: 14px;
    transition: ease .3s;
}
.footer-section div ul li:hover {
    color: #fdc93b;
    cursor: pointer;
    scale: 1.02;

}


 .news-letter div{
 display: flex;
 flex-direction: row;
}
.news-letter div input{
    padding: 8px 5px;
    border-radius: 0px 5px;
    border: 1.5px solid #fdc93b;
    outline: none;

}


.news-letter div button{
    background-color: #fdc93b;
    border:  none;
    margin-left: -5px;
    padding: 0px 10px;
    border-radius: 0px 5px;
    transition: ease .2s;
    cursor: pointer;
}
.news-letter div button:hover{
    background-color: rgb(21, 21, 100);
    border: 2px solid #fdc93b;
    color: white;
}

.contact-copyrights{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-copyrights .contacts i{
    border: 2px solid #fdc93b;
    height: 25px ;
    animation: none;
    color: #fdc93b;
}
.contact-copyrights .contacts i:hover{
    color: red;
}

.copyrights{
    font-size: 16px;
    font-weight: 600;
    margin:auto;
    padding: 20px;
}
.copyrights a {
    color: aqua;
    transition: ease .3s;
    display: flex;

}
.copyrights a:hover{
    color: chocolate;
    
}
/* footer media query */
@media (max-width:920px) {

    .footer-section div{
        padding: 20px 0px;
    }
} 
@media (max-width:350px) {

    .news-letter div{
        flex-direction: column;
    }
    
    .news-letter div button{
        padding: 10px ;
    }
} 

/* animation  */
@keyframes colorChange1 {
    0%,20%,30%,40%,50%,60%,70%,80%,90%,100%{
        
    }
    10%{
        color: rgb(252, 201, 59);
    }
    
}
@keyframes colorChange2 {
    0%,10%,30%,40%,50%,60%,70%,80%,90%,100%{
        
    }
    50%{
        color: rgb(252, 201, 59);
    }
}
@keyframes colorChange3 {
    0%,10%,20%,30%,40%,50%,60%,70%,90%,100%{
        
    }
    80%{
        color: rgb(252, 201, 59);
    }
}



@keyframes blink {
    0%,100%{
        transform: scale(1);
    }
    0%{
        transform: scale(1.4);
        color: rgb(252, 201, 59);
    }
}
@keyframes blinkBlue {
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.4);
        color: rgb(21, 21, 100);
    }
}

@keyframes shiftMotionUp {
    0%{
        transform: translate(100px , 100px);
    }
    100%{
        transform: translate(0px,0px);
    }
}
@keyframes shiftMotionDown {
    0%{
        transform: translate(-100px , -100px);
    }
    100%{
        transform: translate(0px,0px);
    }
}

@keyframes buttonPopUp {
    
    0%,20%,40%,60%,90%{
           visibility: hidden;
    }
    95%{
    }
    100%{
        transform: scale(1);

    }

    
}